* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

section {
  display: grid;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-x: hidden;
}

header {
  display: flex;
  width: 89vw;
  height: 12vh;
  background-color: #e5e2e2;
  justify-content: center;

  grid-column: 2 / 2;
  grid-row: 1/ 1;
}

nav {
  display: flex;
  width: 89vw;
  height: 12vh;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  width: 70vw;
  height: 19vh;
  justify-content: space-around;
  align-items: center;
}

.navBarLateral {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 18vw;
  background-color: #dcd8d8;

  grid-column: 1 / 1;
  grid-row: 1/ 2;
}
.cadastro-func {
  border-radius: 15px;
  background-color: #d7d1d1;
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 80vh;
  justify-content: center;

  padding: 55px;

  grid-column: 2 / 2;
  grid-row: 1/ 2;

  margin: auto;
  margin-top: 150px;
}
.cadastro-func button {
  width: 20%;
  padding: 7px;
  background-color: #858585;
}
input {
  padding: 10px;
  margin-bottom: 5px;
}
