@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

a {
    text-decoration: none;

}

body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 8.25rem;
    background-color: #E5E2E2;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    margin-left: 30rem;
}

header nav ul li {
    margin-right: 8rem;
    list-style: none;
    font-size: 1.5rem;
}

.title {
    position: relative;
    top: 3rem;
    left: 30.2rem;
    width: 25%;
}

#selected {
    font-weight: bold;
    border-bottom: solid 5px #69B0D9;
}

.leftSideBar {
    width: 14.25rem;
    height: 112vh;
    background-color: #DCD8D8;
    position: absolute;
    top: -132px;
}

.formulario {
    position: relative;
    left: 14.25rem;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 3px blue; */
}

.formulario .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7D1D1;
    width: 70%;
    height: 80%;
    border-radius: 20px;
    /* border: solid 3px red; */
}

.formulario .container .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.form .button {
    cursor: pointer;
    width: 12rem;
    height: 3.125rem;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 2rem;
    margin-left: 12.8rem;
}

.cpu-input,
.ram-input,
.disco-input,
.serial-input {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0rem 0;
}

.cpu-input,
.ram-input,
.disco-input,
.serial-input label {
    font-weight: bold;
}

.input {
    margin-top: 1rem;
    width: 35.8rem;
    height: 3.25rem;
}